@import '../mixins/_all';

$sidePaddingSmall: 50px;
$sidePadding: 100px;

.sfBanner {
  @include flexBox;
  @include justify-content(center);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &-img {
    @include filter(grayscale(50%) sepia(50%));
  }

  &-title {
    background-color: rgba($color-blackMidnight, 0.75);
    color: $color-white;
    font-size: 4.8rem;
    left: $sidePaddingSmall;
    line-height: 4.8rem;
    max-width: calc(100% - (#{$sidePaddingSmall} * 2));
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include media(hd) {
      font-size: 7.2rem;
      left: $sidePadding;
      line-height: 7.2rem;
      max-width: calc(100% - (#{$sidePadding} * 2));
    }

    &::first-letter {
      color: $color-orange;
    }
  }
}