@import '../mixins/_all';

$sidePaddingTiny: 10px;
$sidePaddingSmall: 50px;
$sidePadding: 100px;

.sfContactBar {
  background-color: $color-blackMidnight;
  color: $color-white;
  font-size: 1.4rem;
  padding: 10px $sidePaddingTiny;
  text-align: center;

  @include media(phablet) {
    padding: 10px $sidePaddingSmall;
  }

  @include media(uhd) {
    padding: 10px $sidePadding;
  }

  &-link {
    @include hoverStyles {
      text-decoration: underline;
    }
  }
}