@import '../mixins/_all';

.sfCompanySlider {
  height: 100px;
  margin: 20px 0;
  padding: 0 5%;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    z-index: 100;
  }

  &::before { 
    @include backgroundGradient($color-greyLight, 1, $color-black, 0, horz); 
    left: 5%;
    right: 80%;
  }

  &::after { 
    @include backgroundGradient($color-black, 0, $color-greyLight, 1, horz); 
    left: 80%;
    right: 5%;
  }

  &-slide {
    border: 1px solid rgba($color-grey, .5);
    height: 100px;
    padding: 2px;

    &.isCenter {
      background-color: $color-white;
      border: 3px solid rgba($color-grey, .5);
      padding: 0;

      .sfCompanySlider-slideImg {
        filter: none;
        opacity: 1;
      }
    }
  }

  &-slideLink {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-slideImg {    
    @include filter(grayscale(100%) drop-shadow(0 0 2px rgba($color-greyMetal, .5)));
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); 

    &--svg {
      @extend .sfCompanySlider-slideImg;
      height: 100%;
      width: 100%;
    }
  }

  &-navLeft,
  &-navRight {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }

  &-navLeft {
    left: 0;
  }

  &-navRight {
    right: 0;
  }
}