@import '../mixins/_all';

.sfFooter {
  background-color: $color-blackMidnight;
  color: $color-white;
  padding: 20px 50px;
  text-align: center;

  @include media(uhd) {
    padding: 20px 100px;
  }

  &--forceBottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }

  &-nav {
    @include flexBox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    @include media(hd) {
      padding: 0 50px;
    }

    a {
      @include hoverStyles {
        text-decoration: underline;
      }
    }
  }

  &-navSection {
    @include flex(1 0 100%);
    @include flexBox;
    @include align-items(center);
    @include flex-direction(column);
    margin: 10px 0;

    @include media(tablet) {
      @include flex(1 0 50%);
    }

    @include media(hd) {
      @include align-items(flex-start);
      @include flex(0 1 auto);

      &:first-child {
        margin-top: 10px;
      }
    }
  }

  &-navTitle {
    color: $color-orange;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  &-navTitleIcon {
    color: $color-white;
    margin-right: 10px;
    display: inline-block;
  }

  &-navList {    
    text-align: left;   
  }

  &-social {
    font-size: 20px;
    margin-top: 20px;
  }

  &-socialIcon {
    @include flexBox(true);
    @include align-items(center);
    @include justify-content(center);
    @include transition(none);
    border-radius: 50%;
    height: 40px;
    margin: 0 10px;
    width: 40px;

    &--facebook {
      @extend .sfFooter-socialIcon;
      background-color: $color-facebook; 

      @include hoverStyles {
        color: $color-facebook;
        background-color: $color-white;
      }
    }

    &--twitter {
      @extend .sfFooter-socialIcon;
      background-color: $color-twitter;      

      @include hoverStyles {
        color: $color-twitter;
        background-color: $color-white;
      }
    }

    &--youtube {
      @extend .sfFooter-socialIcon;
      @include backgroundGradient($color-youtubeTop, 1, $color-youtubeBottom, 1);      

      @include hoverStyles {
        @include backgroundGradient($color-white, 1, $color-white, 1);  
        color: $color-youtubeMid;
      }
    }
  }

  &-copyright {
    border-top: 1px solid $color-white;
    margin-top: 20px;
    padding-top: 20px;
    
    a {
      @include hoverStyles {
        text-decoration: underline;
      }
    }
  }
}