@import '../mixins/_all';

.sfForm {
  &-input {
    label {
      display: inline-block;
      font: {
        weight: bold;
      }
      margin: 0 10px 5px 0;
    }

    input,
    select,
    textarea {
      border: 1px solid rgba($color-blackMidnight, 0.15);
      border-radius: 5px;
      outline: none;
      padding: 10px 14px;
      width: 100%;
    }

    textarea {
      min-height: 100px;
    }
  }

  &-requiredInput {
    label {
      &::after {
        color: $color-redCrimson;
        content: ' *';
      }
    }
  }

  &-requiredMessage {
    margin: 30px 0;

    &::before {
      color: $color-redCrimson;
      content: '* ';
    }
  }

  &-textCentre {
    text-align: center;
  }

  &-formError {
    background-color: rgba($color-redCrimson, 0.5);
    border: 1px solid $color-redCrimson;
    border-radius: 5px;
    color: $color-white;
    padding: 10px;
    text-align: center;
  }

  &-success {
    display: none;
  }

  &-successMessage {
    background-color: rgba($color-green, 0.5);
    border: 1px solid $color-green;
    border-radius: 5px;
    color: $color-white;
    padding: 10px;
    text-align: center;
  }

  &-showOnError {
    display: none;
  }
}