@import '../mixins/_all';

$borderSize: 3px;
$triangleSize: 13px;
$headerHeightSmall: 50px;
$headerHeight: 100px;
$sidePaddingTiny: 10px;
$sidePaddingSmall: 50px;
$sidePadding: 100px;

.sfHeader {
  @include flexBox;
  @include justify-content(space-between);
  @include transition(height 1s, background-color 1s);
  background-color: rgba($color-blackMidnight, 0.75);
  height: $headerHeightSmall;
  padding: 0 $sidePaddingTiny;
  position: fixed;
  width: 100%;
  z-index: 500;

  @include media(phablet) {
    padding: 0 $sidePaddingSmall;
  }

  @include media(hd) {
    height: $headerHeight;
  }

  @include media(uhd) {
    padding: 0 $sidePadding;
  }

  &-logo {
    @include transition(height 1s, padding 1s);
    height: $headerHeightSmall;
    padding: 5px 0;

    @include media(hd) {
      height: $headerHeight;
      padding: 20px 0;
    }
  }

  &-navToggleLabel {
    @include flexBox;
    @include align-items(center);

    @include media(ld) {
      display: none;
    }
  }

  &-navToggleIcon {
    color: $color-white;
    font-size: 3.2rem;
  }

  &-navToggleInput {
    display: none;

    &:checked + .sfHeader-nav {
      display: block;
      
      @include media(ld) {
        @include flexBox;
      }
    }
  }

  &-nav {
    background: $color-blackMidnight;
    color: $color-white;
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 100%;

    @include media(ld) {
      @include flexBox;
      background: none;
      padding: 0;
      position: static;
      right: auto;
      top: auto;
    }
  }

  &-navList {
    @include flexBox;
    @include flex-direction(column);
    font-size: 1.4rem;
    margin: 0 10px 0 0;

    @include media(ld) {
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(flex-end);
      font-size: 1.2rem;
    }
    
    @include media(hd) {
      font-size: 1.4rem;
      margin: 0 30px 0 0;
    }
  }

  &-navListItemLinkContainer {
    @include flexBox;
  }

  &-navListItem {
    @include flexBox;
    @include align-items(flex-start);
    @include flex-direction(column);
    margin-bottom: 5px;
    margin-left: 10px;

    @include media(ld) {
      @include align-items(stretch);
      @include flex-direction(row);
      margin-bottom: 0;
    }

    @include media(hd) {
      margin-left: 30px;
    }

    &--sub {
      @extend .sfHeader-navListItem;

      @include hoverStyles {
        @include media(ld) {
          .sfHeader-navListItemSub {
            border-top: $borderSize solid $color-orange;
            max-height: 600px;
          }

          .sfHeader-navListItemLinkContainer {
            position: relative;
            
            &::before,
            &::after {
                bottom: 0;
                content: '';
                height: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 0;
                z-index: 100;
            }

            &::before {
              border: {
                bottom: $triangleSize solid $color-orange;
                left: $triangleSize solid transparent;
                right: $triangleSize solid transparent;
              } 
            }

            &::after {
              border: {
                bottom: ($triangleSize - $borderSize) solid $color-blackMidnight;
                left: ($triangleSize - $borderSize) solid transparent;
                right: ($triangleSize - $borderSize) solid transparent;
              } 
            }
          }
        }
      }      
    }
  }

  &-navListItemLink {
    @include flexBox;
    @include align-items(center);
    padding: $borderSize 0;

    @include hoverStyles {
      border-bottom: $borderSize solid $color-white;
      padding-bottom: 0;

      @include media(ld) {
        border-bottom: $borderSize solid $color-orange;
      }
    }

    &--sub {
      @extend .sfHeader-navListItemLink;

      &::after {        
        @include media(ld) {
          content: '\f107';
          font: {
            family: FontAwesome;
            size: 14px;
          }
          padding-left: 5px;    
        }    
      }
    }
  }

  &-navListItemSub {
    @include flexBox;
    @include flex-wrap(wrap);
    @include order(2);
    @include transition(top 1s);
    margin-top: 5px;
    overflow-y: hidden;
    text-transform: none;

    @include media(ld) {
      @include order(0);
      @include transition(top 1s, max-height .5s cubic-bezier(0.17, 0.04, 0.03, 0.94));
      background-color: $color-blackMidnight;
      left: 0;
      margin-top: 0;
      max-height: 0;
      position: absolute;
      right: 0;
      top: $headerHeightSmall - $borderSize;
    }

    @include media(hd) {
      top: $headerHeight - $borderSize;
    }
  }

  &-navListItemSubLinks {
    @include media(ld) {
      @include flexBox;
      @include flex-wrap(wrap);
      padding: 30px $sidePaddingSmall;
      width: 100%;
    }

    @include media(uhd) {
      padding: 30px $sidePadding;
    }
  }

  &-navListItemSubLinksLink {
    @include flex(0 1 auto);
    @include flexBox;
    @include align-items(center);
    margin-bottom: 5px;

    @include media(ld) {
      @include align-items(stretch);
      margin-bottom: 0;
      padding: 15px 10px;
      width: 33.33%;
    }

    @include hoverStyles {
      .sfHeader-subContentTitle {
        text-decoration: underline;
      }
    }
  }

  &-subIcon {
    text-align: center;
    margin-right: 5px;
    width: 20px;

    @include media(ld) {
      color: $color-orange;
      font-size: 3rem;
      margin-right: 20px;
      width: 50px;
    }
  }

  &-subContentTitle {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0;

    @include media(ld) {
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0 0 1rem 0;
    }
  }

  &-subContentText {
    color: $color-grey;
    display: none;

    @include media(ld) {
      display: block;
    }
  }

  &-companies {
    @include flex(1 0 100%);
    background-color: $color-grey;
    color: $color-greyDark;
    display: none;

    @include media(ld) {
      display: block;
    }
  }

  &-companiesText {
    margin-bottom: 0;
    padding: 20px $sidePaddingSmall 15px;
    text-align: center;
    width: 100%;

    @include media(uhd) {
      padding: 20px $sidePadding 15px;
    }
  }

  &-companiesLinks {
    display: table;
    height: 50px;
    padding: 0 $sidePaddingSmall 20px;
    table-layout: fixed;
    width: 100%;

    @include media(uhd) {
      padding: 0 $sidePadding 20px;
    }
  }

  &-companiesLink {
    // @include filter(grayscale(100%) invert(100%) drop-shadow(0 0 5px rgba($color-greyDark, .5)));  ### REMOVED UNTIL EDGE IS FIXED ###
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table-cell;
    height: 50px;
    max-width: 150px;
    text-align: center;

    @include hoverStyles {
      @include filter(unset);
    }
  }

  &-button {
    @include align-self(center);
    font-size: 1.4rem;
    padding: 5px 12px;

    @include media(hd) {
      font-size: 1.6rem;
      padding: 10px 25px;
    }
  }
}