@import '../mixins/_all';
@import '../mixins/_icons';

@font-face {
  font-family: 'StoreFeeder-Web-Icons';
  src:  url('#{$font-path}/StoreFeeder-Web-Icons.eot?o3jy8j');
  src:  url('#{$font-path}/StoreFeeder-Web-Icons.eot?o3jy8j#iefix') format('embedded-opentype'),
    url('#{$font-path}/StoreFeeder-Web-Icons.ttf?o3jy8j') format('truetype'),
    url('#{$font-path}/StoreFeeder-Web-Icons.woff?o3jy8j') format('woff'),
    url('#{$font-path}/StoreFeeder-Web-Icons.svg?o3jy8j#StoreFeeder-Web-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sfIcon {
  font-family: 'StoreFeeder-Web-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-team {
    @extend .sfIcon;

    &::before {
      content: $icon-team;
    }
  }

  &-meeting {
    @extend .sfIcon;

    &::before {
      content: $icon-meeting;
    }
  }

  &-checklist {
    @extend .sfIcon;

    &::before {
      content: $icon-checklist;
    }
  }

  &-stack {
    @extend .sfIcon;

    &::before {
      content: $icon-stack;
    }
  }

  &-document {
    @extend .sfIcon;

    &::before {
      content: $icon-document;
    }
  }

  &-webPage {
    @extend .sfIcon;

    &::before {
      content: $icon-web-page;
    }
  }

  &-listCart {
    @extend .sfIcon;

    &::before {
      content: $icon-list-cart;
    }
  }

  &-homeList {
    @extend .sfIcon;

    &::before {
      content: $icon-home-list;
    }
  }

  &-deliveryTruck {
    @extend .sfIcon;

    &::before {
      content: $icon-delivery-truck;
    }
  }

  &-pyramid {
    @extend .sfIcon;

    &::before {
      content: $icon-pyramid;
    }
  }

  &-jigsaw {
    @extend .sfIcon;

    &::before {
      content: $icon-jigsaw;
    }
  }

  &-secureBox {
    @extend .sfIcon;

    &::before {
      content: $icon-secure-box;
    }
  }
  
  &-handshake {
    @extend .sfIcon;
    
    &::before {
      content: $icon-handshake;
    }
  }
}
