@import '../mixins/_all';

.sfLinkPanels {
  @include flexBox;
  @include flex-wrap(wrap);
  @include justify-content(center);

  &-panel {
    @include flex(0 1 auto);
    border: 2px solid $color-greyMetal;
    margin: 10px;
    padding: 30px;
    width: calc(100% - 20px);

    @include media(tablet) {
      width: calc(50% - 20px);
    }

    @include media(hd) {
      width: calc(33.33% - 20px);
    }

    @include hoverStyles {
      border-color: $color-orange;

      .sfLinkPanels-panelIcon {
        color: $color-orange;
        text-shadow: none;
      }
    }
  }

  &-panelIcon {
    color: $color-white;
    display: inline-block;
    font-size: 7.2rem;
    margin-bottom: 30px;
    text-shadow: 0 0 6px $color-blackMidnight;
  }
}