@import '../mixins/_all';

$sidePaddingSmall: 50px;
$sidePadding: 100px;

.sfSlideshow {
  height: 700px;
  width: 100%;

  &-slide,
  &-image {
    height: 100%;
    width: 100%;
  }

  &-image {
    @include filter(grayscale(50%) sepia(50%));
    background-position: center;
  }

  &-prev,
  &-next {
    color: $color-white;
    cursor: pointer;
    display: none;
    font-size: 48px;
    opacity: .6;
    position: absolute;
    top: calc(50% + 50px);
    z-index: 200;
    text-shadow: 0 0 5px $color-blackMidnight;
    transform: translateY(-50%);

    @include hoverStyles {
      opacity: 1;
    }
  }

  &-prev {
    left: 20px;
  }

  &-next {
    right: 20px;
  }

  &-pager {
    @include flexBox;
    @include align-items(center);
    bottom: 10px;
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 300;
  }

  &-pagerPoint {
    background-color: $color-blackMidnight;
    border: 3px solid $color-orange;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 3px;
    opacity: .6;
    width: 20px;

    @include hoverStyles {
      opacity: 1;
    }

    &.isActive {
      opacity: 1;
    }
  }

  &-slideContent {
    bottom: 0;
    background-color: rgba($color-blackMidnight, .75);
    color: $color-white;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center; 

    @include media(phablet) {
      padding: 30px;
    }

    @include media(tablet) {
      bottom: 50px;
      left: $sidePaddingSmall * 3;
      max-width: calc(100% - (#{$sidePaddingSmall} * 3));
      right: auto;
    }

    @include media(hd) {
      max-width: calc(100% - (#{$sidePadding} * 3));
    }
  }

  &-slideTitle {
    font-size: 4.8rem;
    line-height: 4.8rem;

    &::first-letter {
      color: $color-orange;
    }
  }

  &-slideText {
    li {
      &::before {
        content: '\f046';
        font-family: FontAwesome;
        padding-right: 5px;
      }
    }  

    a {
      color: $color-orange;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}