@import '../mixins/_all';

.sfSpeechBubble {
  @include flexBox;
  @include flex-direction(column);
  background-color: $color-white;
  border: 3px solid $color-greyMetal;
  border-radius: 5px;
  color: $color-blackMidnight;
  margin: 30px 10px 40px;
  padding: 20px;
  position: relative;
  width: calc(100% - 20px);

  &::before,
  &::after {
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
  }

  &::before {
    border: {
      bottom: 15px solid transparent;
      left: 15px solid transparent;
      right: 15px solid $color-greyMetal;
      top: 15px solid $color-greyMetal;
    }
    right: 5px;
  }

  &::after {
    border: {
      bottom: 11px solid transparent;
      left: 11px solid transparent;
      right: 11px solid $color-white;
      top: 11px solid $color-white;
    }
    right: 8px;
  }

  &-text {
    font-style: italic;
  }

  &-emphasisText {
    @extend .sfSpeechBubble-text;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &-author {
    @include align-self(flex-end);
    font-size: 1.8rem;
    font-weight: bold;
  }
}