@import '../mixins/_all';

.sfVideoList {
  @include flexBox;
  @include flex-wrap(wrap);
  @include justify-content(center);

  &-videoContainer {
    padding: 50px;
    width: 100%;

    @include media(ld) {
      width: 50%;
    }
  }

  &-videoPreview {
    cursor: pointer;
    position: relative;

    &::before {
      color: $color-white;
      content: '\f144';
      font: normal normal normal 7.2rem/1 FontAwesome;
      left: 50%;
      opacity: 0.75;
      position: absolute;
      text-shadow: 0 0 6px $color-blackMidnight;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include hoverStyles {
      &::before {
        opacity: 1;
      }
    }
  }

  &-videoPreviewImg {
    width: 100%;
  }

  &-videoScreen {
    display: none;

    &.isFullScreen {
      @include flexBox;
      @include align-content(stretch);
      @include align-items(stretch);
      @include justify-content(center);
      background-color: rgba($color-blackMidnight, 0.75);
      bottom: 0;
      left: 0;
      padding: 50px;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1000;

      .sfVideoList-videoClose {
        display: block;
      }
    }
  }

  &-videoClose {
    color: $color-white;
    cursor: pointer;
    display: none;
    font-size: 4.8rem;
    line-height: 2.6rem;
    padding: 10px;
    position: absolute;
    right: 0;
    text-shadow: 0 0 5px $color-blackMidnight;
    top: 0;
    z-index: 100;
  }

  &-video {
    max-height: 100%;
    max-width: 100%;
  }
}

/* IE11 Only */
@media all and (-ms-high-contrast:none) {
  .sfVideoList {
    height: 0;
    overflow: hidden;

    &-videoPreviewImg {
      width: auto;
    }
  }
}