<footer class="sfFooter">
  <nav class="sfFooter-nav">
    <div class="sfFooter-navSection">
      <h2 class="sfFooter-navTitle"><i class="sfFooter-navTitleIcon fa fa-list" aria-hidden="true"></i> Our Features</h2>
      <ul class="sfFooter-navList">
        <li><a href="/features/inventory-management" class="sfFooter-navLink">Inventory Management</a></li>
        <li><a href="/features/intelligent-warehousing" class="sfFooter-navLink">Intelligent Warehousing</a></li>
        <li><a href="/features/courier-integration" class="sfFooter-navLink">Courier Integration</a></li>
        <li><a href="/features/accounts-integration" class="sfFooter-navLink">Accounts Integration</a></li>
        <li><a href="/features/amazon-play-repricer" class="sfFooter-navLink">Amazon / Play Repricing Tool</a></li>
      </ul>
    </div>

    <div class="sfFooter-navSection">
      <h2 class="sfFooter-navTitle"><i class="sfFooter-navTitleIcon fa fa-link" aria-hidden="true"></i>Useful Links</h2>
      <ul class="sfFooter-navList">
        <li><a target="_blank" href="http://support.storefeeder.com/" class="sfFooter-navLink">Help &amp; Support</a></li>
        <li><a href="/pricing" class="sfFooter-navLink">Pricing Plans</a></li>
        <li><a href="/company/privacy-policy" class="sfFooter-navLink">Privacy Policy</a></li>
        <li><a href="/company/terms-of-service" class="sfFooter-navLink">Terms of Service</a></li>
        <li><a href="/contact-us" class="sfFooter-navLink">Contact Us</a></li>
      </ul>
    </div>

    <div class="sfFooter-navSection">
      <h2 class="sfFooter-navTitle"><i class="sfFooter-navTitleIcon fa fa-file-text" aria-hidden="true"></i>Documentation</h2>
      <ul class="sfFooter-navList">
        <li><a target="_blank" href="http://blog.storefeeder.com" class="sfFooter-navLink">Blog</a></li>
        <li><a target="_blank" href="https://support.storefeeder.com/index.php?/Knowledgebase/List" class="sfFooter-navLink">Knowledgebase</a></li>
      </ul>
    </div>

    <div class="sfFooter-navSection">
      <h2 class="sfFooter-navTitle"><i class="sfFooter-navTitleIcon fa fa-phone" aria-hidden="true"></i>Contact Us</h2>
      <ul class="sfFooter-navList">
        <li>Mon - Fri, 9am - 5pm GMT</li>
        <li><a target="_blank" href="tel:01157842150" class="sfFooter-navLink">0115 7842150</a></li>
      </ul>
    </div>
  </nav>

  <section class="sfFooter-social">
    <a target="_blank" href="https://www.facebook.com/StoreFeeder/" class="sfFooter-socialIcon--facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>

    <a target="_blank" href="https://twitter.com/storefeeder" class="sfFooter-socialIcon--twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a target="_blank" href="https://www.youtube.com/user/StoreFeeder" class="sfFooter-socialIcon--youtube">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
  </section>
  <section class="sfFooter-copyright">
    <p class="sfFooter-copyrightHeader"></p>
    <p class="sfFooter-copyrightText">&copy; 2010 - {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> | Multi-channel e-commerce solution</p>
    <p class="sfFooter-copyrightText">Registered in England No: 6585175 | VAT No: GB 243 1700 02</p>
  </section>
</footer>