{{!-- Document Settings --}}
<meta charset="utf-8" />

{{!-- Page Meta --}}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{!-- Mobile Meta --}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{!-- Brand icon --}}
<link rel="shortcut icon" href="/assets/favicon.ico" src="/assets/favicon.ico" />

{{!-- Styles'n'Scripts --}}    
<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/site.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfForm.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfIcon.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfButton.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfHeader.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfBanner.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfSlideshow.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfContactBar.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfCompanySlider.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfLinkPanels.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfSpeechBubble.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfVideoList.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/components/sfFooter.css" />

<script>
  if (window.navigator.appName === 'Microsoft Internet Explorer') {
    document.write('<link rel="stylesheet" type="text/css" href="/assets/css/browser.css" />');
  }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  if (!window.jQuery) {
    document.write('<script src="/assets/js/jquery.js"><\/script>');
  }
</script>
<script src="/assets/js/jquery.cycle2.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/util.js"></script>