<header class="sfHeader">
  <a href="/">
    <img class="sfHeader-logo" src="/assets/images/logo.svg" alt="StoreFeeder" />
  </a>

  <label class="sfHeader-navToggleLabel" for="menu-mobile">
    <i class="fa fa-bars sfHeader-navToggleIcon" aria-hidden="true"></i>
  </label>

  <input class="sfHeader-navToggleInput" type="checkbox" id="menu-mobile" name="menu-mobile" />

  <nav class="sfHeader-nav">
    <ul class="sfHeader-navList">
      <li class="sfHeader-navListItem--sub">
        <div class="sfHeader-navListItemSub">
          <div class="sfHeader-navListItemSubLinks">
            <a href="/features/order-management" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "checklist" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Order Management</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>

            <a href="/features/courier-integration" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "deliveryTruck" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Courier Integration</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>

            <a href="/features/intelligent-warehousing" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "homeList" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Intelligent Warehousing</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>

            <a href="/features/inventory-management" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "listCart" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Inventory Management</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>

            <a href="/features/listing-management" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "webPage" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Listing Management</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>

            <a href="/features/accounts-integration" class="sfHeader-navListItemSubLinksLink">
              {{{sfIcon "jigsaw" "sfHeader-subIcon"}}}
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Accounts Integration</h3>
                <p class="sfHeader-subContentText">Orders from all of your sales channels are downloaded and can be managed in one single place</p>
              </div>
            </a>
          </div>

          {{> sfHeader/companies}}
        </div>      
        
        <div class="sfHeader-navListItemLinkContainer">
          <a href="/features" class="sfHeader-navListItemLink--sub">
            Features
          </a>
        </div>    
      </li>

      <li class="sfHeader-navListItem">
        <a href="/pricing" class="sfHeader-navListItemLink">Pricing</a>
      </li>

      <li class="sfHeader-navListItem--sub">
        <div class="sfHeader-navListItemSub">
          <div class="sfHeader-navListItemSubLinks">
            <a href="/company" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-team sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">About Us</h3>
              </div>
            </a>

            <a href="/company/meet-the-team" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-meeting sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Meet the Team</h3>
              </div>
            </a>

            {{!--<a href="/features/intelligent-warehousing" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-handshake sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Our Partners</h3>
              </div>
            </a>--}}

            <a href="/features/inventory-management" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-stack sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Press Pack</h3>
              </div>
            </a>

            {{!--<a href="/features/listing-management" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-pyramid sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Become a Reseller</h3>
              </div>
            </a>--}}

            <a href="/features/accounts-integration" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-secureBox sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Privacy Policy</h3>
              </div>
            </a>

            <a href="/features/accounts-integration" class="sfHeader-navListItemSubLinksLink">
              <i class="sfIcon-document sfHeader-subIcon" aria-hidden="true"></i>
              <div class="sfHeader-subContent">
                <h3 class="sfHeader-subContentTitle">Terms &amp; Conditions</h3>
              </div>
            </a>
          </div>

          {{> sfHeader/companies}}
        </div>      
        
        <div class="sfHeader-navListItemLinkContainer">
          <a href="/company" class="sfHeader-navListItemLink--sub">Company</a>
        </div>
      </li>

      <li class="sfHeader-navListItem">
        <a href="/contact-us" class="sfHeader-navListItemLink">Contact</a>
      </li>

      <li class="sfHeader-navListItem">
        <a target="_blank" href="https://my.storefeeder.com/" class="sfHeader-navListItemLink">Login</a>
      </li>
    </ul>

    <a class="sfButton sfHeader-button">
      Sign Up
    </a>
  </nav>
</header>
