<div class="sfLinkPanels">
  <a class="sfLinkPanels-panel" href="/features/order-management">
    <i class="sfIcon-checklist sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Order Management</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>

  <a class="sfLinkPanels-panel" href="/features/courier-integration">
    <i class="sfIcon-deliveryTruck sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Courier Integration</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>

  <a class="sfLinkPanels-panel" href="/features/intelligent-warehousing">
    <i class="sfIcon-homeList sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Intelligent Warehousing</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>

  <a class="sfLinkPanels-panel" href="/features/inventory-management">
    <i class="sfIcon-listCart sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Inventory Management</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>

  <a class="sfLinkPanels-panel" href="/features/listing-management">
    <i class="sfIcon-webPage sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Listing Management</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>

  <a class="sfLinkPanels-panel" href="/features/accounts-integration">
    <i class="sfIcon-jigsaw sfLinkPanels-panelIcon" aria-hidden="true"></i>
    <h2>Accounts Integration</h2>
    <p>Etiam commodo ante quis accumsan tincidunt. Curabitur nec varius orci. Mauris dapibus condimentum urna. Curabitur dolor nunc, ornare sit amet convallis non, ultricies a erat.</p>
  </a>
</div>
