<article class="sfSlideshow cycle-slideshow"
data-cycle-slides="> .sfSlideshow-slide"
data-cycle-fx="scrollHorz"
data-cycle-pause-on-hover="true"
data-cycle-log="false"
data-cycle-swipe="true"
data-cycle-swipe-fx="scrollHorz"
data-cycle-pager-template="<span class='sfSlideshow-pagerPoint'></span>"
data-cycle-pager-active-class="isActive">
  <div class="cycle-prev sfSlideshow-prev fa fa-arrow-circle-left"
  aria-hidden="true"></div>

  <section class="sfSlideshow-slide">
    <div class="sfSlideshow-image parallax-window" data-parallax="scroll" data-image-src="/assets/images/stock/hands-woman-laptop-working-sf4.jpg"></div>
    <div class="sfSlideshow-slideContent">
      <h1 class="sfSlideshow-slideTitle">Multi-channel Retailing Software</h1>
      <div class="sfSlideshow-slideText">
        <p>StoreFeeder is a multi-channel retailing software application. With full order management right through to full inventory &amp; listing management, StoreFeeder is packed with rich features that, quite simply, work.</p>
      </div>
    </div>               
  </section>

  {{!--<section class="sfSlideshow-slide">
    <div class="sfSlideshow-image"
    style="background-image: url(/assets/images/slideshow/man-relax-couch-study.jpg);"></div>
    <div class="sfSlideshow-slideContent">
      <h1 class="sfSlideshow-slideTitle">Sell more, work less</h1>
      <div class="sfSlideshow-slideText">
        <ul>
          <li>Synchronise stock levels</li>
          <li>Efficiently process orders</li>
          <li>Intelligently manage your inventory</li>
          <li>Automatically feedback tracking numbers</li>
          <li>All major eBay &amp; Amazon marketplaces covered</li>
          <li>All major ecommerce platforms covered</li>
          <li>All major couriers covered</li>
        </ul>
        <p><a href="/features">Read more</a> or see our <a href="/pricing">pricing plans</a></p>
      </div>
    </div>               
  </section>--}}

  {{!--<section class="sfSlideshow-slide">
    <div class="sfSlideshow-image"
    style="background-image: url(/assets/images/slideshow/steps.jpg);"></div>
    <div class="sfSlideshow-slideContent">
      <h1 class="sfSlideshow-slideTitle">6 steps to success</h1>
      <div class="sfSlideshow-slideText">
        <ul>
          <li>Signup with StoreFeeder</li>
          <li>Choose your channels</li>
          <li>Input your settings</li>
          <li>Import and map your products</li>
          <li>Create, update and manage your listings on each channel</li>
          <li>Manage stock levels, products, listings and drop-shipping automatically</li>
        </ul>
        <p><a href="/features">Read more</a> or see our <a href="/pricing">pricing plans</a></p>
      </div>
    </div>               
  </section>--}}

  <div class="cycle-next sfSlideshow-next fa fa-arrow-circle-right"
  aria-hidden="true"></div>

  <div class="cycle-pager sfSlideshow-pager"></div>
</article>
