<div class="sfSpeechBubble">
  <p class="sfSpeechBubble-text">
    The scope and capabilities of the software are unrivalled at this price level. I looked at several systems and trialled a few of them that seemed to come close to what I thought I needed and that were within my budget.  The truth is that I didn’t know precisely what I needed – that was until I encountered StoreFeeder. I find the interface intuitive and logical.  The scope and capabilities of the software are unrivalled at this price level. I don’t know what it can’t do, because I’ve not encountered a scenario with which StoreFeeder can’t cope. The many integration pieces make laborious tasks (checking supplier stock / booking couriers / Royal Mail Dispatch Manager, etc) a breeze.
  </p>

  <p class="sfSpeechBubble-emphasisText">
    StoreFeeder blows the competition out of the water.
  </p>
  
  <p class="sfSpeechBubble-author">
    Jonathon Gaze, Barocco Ltd.
  </p>
</div>

<div class="sfSpeechBubble">
  <p class="sfSpeechBubble-text">
    We are a successful seller on eBay. We wanted an enterprise class solution to help us grow out internationally and onto new platforms such as Amazon. StoreFeeder was amazing in comparison to its rivals, really nice people to do business with, great software and superb service.
  </p>

  <p class="sfSpeechBubble-emphasisText">
    We'd recommend StoreFeeder to anyone looking for a professional multi-channel tool.
  </p>
  
  <p class="sfSpeechBubble-author">
    Irram, Angel Retailers
  </p>
</div>
