<!DOCTYPE html>
<html>
<head>
  {{> sfHead }}
</head>
<body class="sfSite">
  {{> sfHeader}}

  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- Footer at the very bottom --}}
  {{> sfFooter}}

</body>
</html>