// Black
$color-black: #000;
$color-blackMidnight: #2a2c35;

// Grey
$color-grey: #838692;
$color-greyDark: #29292c;
$color-greyMetal: #bdbdbd;
$color-greyLight: #f0f1f3;

// White
$color-white: #fff;

// Orange
$color-orange: #e97331;

//Red
$color-redCrimson: #DB2828;

//Green
$color-green: #21BA45;

// Social Media
$color-facebook: #3b5998;
$color-twitter: #1da1f3;
$color-youtubeTop: #e73934;
$color-youtubeMid: #d22222;
$color-youtubeBottom: #c0171d;