@import '_colours';

// Hover styles

@mixin hoverStyles {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Buttons

@mixin buttonBg($color) {
  background-color: $color;

  @include hoverStyles {
    background-color: darken($color, 10%);
  }
}

%button {
  @include buttonBg($color-orange);
  border: 0;
  border-radius: 10px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font: {
    size: 16px;
    weight: bold;
  }
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;  
  white-space: nowrap;

  &-neutral {
    @extend %button;
    @include buttonBg($color-grey);
  }
}
