$font-path: "/assets/fonts" !default;

$icon-team: "\e900";
$icon-meeting: "\e901";
$icon-checklist: "\e902";
$icon-stack: "\e903";
$icon-document: "\e904";
$icon-web-page: "\e905";
$icon-list-cart: "\e906";
$icon-home-list: "\e907";
$icon-delivery-truck: "\e908";
$icon-pyramid: "\e909";
$icon-jigsaw: "\e90a";
$icon-secure-box: "\e90b";
$icon-handshake: "\e90c";