{{!< default}}

<div class="sfBanner">
  <img class="sfBanner-img" src="/assets//images/banner/error.png" alt="error" />
  <h1 class="sfBanner-title">Unexpected Error</h1>
</div>

<main class="sfSite-section" role="main">
  <article class="sfSite-sectionPost">
    <section>
      <h2>Oh dear</h2>
      <p>Something went wrong and the mission was aborted.</p>
      <p>Please feel free to go back and try again, or alternatively <a href="/contact-us">contact us</a> so we can create a new mission assignment to investigate.</p>
    </section>
  </article>
</main>
