{{> sfSlideshow}}

{{> sfContactBar}}

<main class="sfSite-section" role="main">
  <h1>"Our business simply couldn't exist without StoreFeeder"</h1>
  <p>Don't just take our word for it, have a look at a couple of our testimonial videos below.</p>

  <div class="sfVideoList">
    <div class="sfVideoList-videoContainer">
      <div class="sfVideoList-videoPreview">
        <img class="sfVideoList-videoPreviewImg" src="/assets/images/videoPreview/StorefeederRughouseFINALSHORT-HD.jpg" alt="Want That Trend Video" />
      </div>
      <div class="sfVideoList-videoScreen">
        <i class="fa fa-times sfVideoList-videoClose" aria-hidden="true"></i>
        <video class="sfVideoList-video" controls
        poster="/assets/images/videoPreview/StorefeederRughouseFINALSHORT-HD.jpg">
          <source src="/assets/videos/StorefeederRughouseFINALSHORT-HD.mp4" type="video/mp4">
          Sorry, your browser doesn't support this feature.
        </video>
      </div>
    </div>

    <div class="sfVideoList-videoContainer">
      <div class="sfVideoList-videoPreview">
        <img class="sfVideoList-videoPreviewImg" src="/assets/images/videoPreview/StorefeederWTTFINALClean-HD.jpg" alt="Want That Trend Video" />
      </div>
      <div class="sfVideoList-videoScreen">
        <i class="fa fa-times sfVideoList-videoClose" aria-hidden="true"></i>
        <video class="sfVideoList-video" controls
        poster="/assets/images/videoPreview/StorefeederWTTFINALClean-HD.jpg">
          <source src="/assets/videos/StorefeederWTTFINALClean-HD.mp4" type="video/mp4">
          Sorry, your browser doesn't support this feature.
        </video>
      </div>
    </div>
  </div>
</main>

<div class="sfSite-section--grey">
  {{> sfCompanySlider}}
</div>

<div class="sfSite-section" >
  <h1>StoreFeeder core features</h1>
  {{> sfLinkPanels}}
</div>

<div class="sfSite-section--transparentInverted parallax-window" data-parallax="scroll" data-image-src="/assets/images/stock/writing-wedding.jpg">
  <h1>What our customers say</h1>
  {{> sfSpeechBubble}}
</div>