{{#if page.image}}
  <div class="sfBanner">
    <img class="sfBanner-img" src="{{page.image}}" alt="{{page.title}}" />
    <h1 class="sfBanner-title">{{page.title}}</h1>
  </div>
{{/if}}

<main class="sfSite-section" role="main">
  <article class="sfSite-sectionPost">
    {{#unless page.image}}
      <h1>{{page.title}}</h1>
    {{/unless}}
    <section>
      {{{page.content}}}
    </section>
  </article>
</main>