@import url("https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu:400,400i,700,700i");
@font-face {
  font-family: 'ComfortaaFallback';
  src: url("/assets/fonts/comfortaa_regular-webfont.woff2") format("woff2"), url("/assets/fonts/comfortaa_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UbuntuFallback';
  src: url("/assets/fonts/ubuntu-r-webfont.woff2") format("woff2"), url("/assets/fonts/ubuntu-r-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UbuntuFallback';
  src: url("/assets/fonts/ubuntu-ri-webfont.woff2") format("woff2"), url("/assets/fonts/ubuntu-ri-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'UbuntuFallback';
  src: url("/assets/fonts/ubuntu-b-webfont.woff2") format("woff2"), url("/assets/fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'UbuntuFallback';
  src: url("/assets/fonts/ubuntu-bi-webfont.woff2") format("woff2"), url("/assets/fonts/ubuntu-bi-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
* {
  box-sizing: border-box;
  transition: background .2s ease, color .2s ease, opacity .2s ease; }

html {
  font-size: 62.5%;
  height: 100%; }

html, body {
  font-family: 'Ubuntu', 'UbuntuFallback', sans-serif;
  margin: 0;
  padding: 0; }

body {
  color: #2a2c35;
  min-height: 100%;
  position: relative; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', 'ComfortaaFallback', cursive;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0; }

h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4.8rem;
      line-height: 4.8rem; } }

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem; }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 3.2rem;
      line-height: 3.2rem; } }

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem; }

ol, ul {
  list-style: none; }
  ol ol, ol ul, ul ol, ul ul {
    margin: 0 0 0 20px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p, table, ol, ul {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
  padding: 0; }

li {
  line-height: 1.8rem; }

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #838692;
  margin: 4rem auto;
  width: 80%; }

label[for] {
  cursor: pointer; }

[type="submit"],
[type="reset"],
[type="button"],
button {
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

input,
select,
textarea {
  font-family: 'Ubuntu', 'UbuntuFallback', sans-serif;
  letter-spacing: -0.02em; }

::-moz-selection {
  background-color: #e97331;
  color: #fff; }

::selection {
  background-color: #e97331;
  color: #fff; }

/*# sourceMappingURL=reset.css.map */
