.sfSite {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .sfSite-section, .sfSite-section--grey, .sfSite-section--inverted, .sfSite-section--transparent, .sfSite-section--transparentInverted {
    background-color: #fff;
    padding: 50px;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      .sfSite-section, .sfSite-section--grey, .sfSite-section--inverted, .sfSite-section--transparent, .sfSite-section--transparentInverted {
        padding: 100px; } }
    @media only screen and (min-width: 1280px) {
      .sfSite-section, .sfSite-section--grey, .sfSite-section--inverted, .sfSite-section--transparent, .sfSite-section--transparentInverted {
        padding: 100px 200px; } }
    .sfSite-section--grey {
      background-color: #f0f1f3; }
    .sfSite-section--inverted {
      background-color: #29292c;
      color: #fff; }
    .sfSite-section--transparent {
      background-color: transparent; }
    .sfSite-section--transparentInverted {
      background-color: transparent;
      color: #fff; }
  .sfSite-sectionPost {
    text-align: left; }
    .sfSite-sectionPost li::before {
      content: '\f046';
      font-family: FontAwesome;
      padding-right: 5px; }
    .sfSite-sectionPost a {
      color: #e97331; }
      .sfSite-sectionPost a:hover, .sfSite-sectionPost a:active, .sfSite-sectionPost a:focus {
        text-decoration: underline; }

/*# sourceMappingURL=site.css.map */
