@import 'mixins/_all';

$paddingWidth: 50px;
$paddingWidthHd: 100px;
$paddingWidthUhd: 200px;

.sfSite {
  @include flexBox;
  @include flex-direction(column);

  &-section {
    background-color: $color-white;
    padding: $paddingWidth;
    text-align: center;

    @include media(hd) {
      padding: $paddingWidthHd;
    }

    @include media(uhd) {
      padding: $paddingWidthHd $paddingWidthUhd;
    }

    &--grey {
      @extend .sfSite-section;
      background-color: $color-greyLight;
    }

    &--inverted {
      @extend .sfSite-section;
      background-color: $color-greyDark;
      color: $color-white;
    }

    &--transparent {
      @extend .sfSite-section;
      background-color: transparent;
    }

    &--transparentInverted {
      @extend .sfSite-section;
      background-color: transparent;
      color: $color-white;
    }
  }

  &-sectionPost {
    text-align: left;

    li {      
      &::before {
        content: '\f046';
        font-family: FontAwesome;
        padding-right: 5px;
      }
    }

    a {
      color: $color-orange;

      @include hoverStyles {
        text-decoration: underline;
      }
    }
  }
}