<div class="sfHeader-companies">
  <p class="sfHeader-companiesText">Find out more about...</p>
  
  <div class="sfHeader-companiesLinks">
    <a class="sfHeader-companiesLink" href="/features/listing-management/ebay" style="background-image:url(/assets/images/channels/svg/ebay.svg);"></a>

    <a class="sfHeader-companiesLink" href="/features/listing-management/amazon" style="background-image:url(/assets/images/channels/svg/amazon.svg);"></a>

    <a class="sfHeader-companiesLink" href="/features/listing-management/magento" style="background-image:url(/assets/images/channels/svg/magento.svg);"></a>
  </div>
</div>