.sfBanner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .sfBanner-img {
    -webkit-filter: grayscale(50%) sepia(50%);
    filter: grayscale(50%) sepia(50%); }
  .sfBanner-title {
    background-color: rgba(42, 44, 53, 0.75);
    color: #fff;
    font-size: 4.8rem;
    left: 50px;
    line-height: 4.8rem;
    max-width: calc(100% - (50px * 2));
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (min-width: 1024px) {
      .sfBanner-title {
        font-size: 7.2rem;
        left: 100px;
        line-height: 7.2rem;
        max-width: calc(100% - (100px * 2)); } }
    .sfBanner-title::first-letter {
      color: #e97331; }

/*# sourceMappingURL=sfBanner.css.map */
