.sfButton {
  background-color: #e97331;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  white-space: nowrap; }
  .sfButton:hover, .sfButton:active, .sfButton:focus {
    background-color: #d15916; }

/*# sourceMappingURL=sfButton.css.map */
