.sfContactBar {
  background-color: #2a2c35;
  color: #fff;
  font-size: 1.4rem;
  padding: 10px 10px;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .sfContactBar {
      padding: 10px 50px; } }
  @media only screen and (min-width: 1280px) {
    .sfContactBar {
      padding: 10px 100px; } }
  .sfContactBar-link:hover, .sfContactBar-link:active, .sfContactBar-link:focus {
    text-decoration: underline; }

/*# sourceMappingURL=sfContactBar.css.map */
