.sfCompanySlider {
  height: 100px;
  margin: 20px 0;
  padding: 0 5%;
  position: relative;
  width: 100%; }
  .sfCompanySlider::before, .sfCompanySlider::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    z-index: 100; }
  .sfCompanySlider::before {
    background: -moz-linear-gradient(left, #f0f1f3 0%, transparent 100%);
    background: -webkit-linear-gradient(left, #f0f1f3 0%, transparent 100%);
    background: linear-gradient(to right, #f0f1f3 0%, transparent 100%);
    left: 5%;
    right: 80%; }
  .sfCompanySlider::after {
    background: -moz-linear-gradient(left, transparent 0%, #f0f1f3 100%);
    background: -webkit-linear-gradient(left, transparent 0%, #f0f1f3 100%);
    background: linear-gradient(to right, transparent 0%, #f0f1f3 100%);
    left: 80%;
    right: 5%; }
  .sfCompanySlider-slide {
    border: 1px solid rgba(131, 134, 146, 0.5);
    height: 100px;
    padding: 2px; }
    .sfCompanySlider-slide.isCenter {
      background-color: #fff;
      border: 3px solid rgba(131, 134, 146, 0.5);
      padding: 0; }
      .sfCompanySlider-slide.isCenter .sfCompanySlider-slideImg, .sfCompanySlider-slide.isCenter .sfCompanySlider-slideImg--svg {
        filter: none;
        opacity: 1; }
  .sfCompanySlider-slideLink {
    display: block;
    height: 100%;
    position: relative;
    width: 100%; }
  .sfCompanySlider-slideImg, .sfCompanySlider-slideImg--svg {
    -webkit-filter: grayscale(100%) drop-shadow(0 0 2px rgba(189, 189, 189, 0.5));
    filter: grayscale(100%) drop-shadow(0 0 2px rgba(189, 189, 189, 0.5));
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
    .sfCompanySlider-slideImg--svg {
      height: 100%;
      width: 100%; }
  .sfCompanySlider-navLeft, .sfCompanySlider-navRight {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100; }
  .sfCompanySlider-navLeft {
    left: 0; }
  .sfCompanySlider-navRight {
    right: 0; }

/*# sourceMappingURL=sfCompanySlider.css.map */
