.sfForm-input label {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px 5px 0; }
.sfForm-input input,
.sfForm-input select,
.sfForm-input textarea {
  border: 1px solid rgba(42, 44, 53, 0.15);
  border-radius: 5px;
  outline: none;
  padding: 10px 14px;
  width: 100%; }
.sfForm-input textarea {
  min-height: 100px; }
.sfForm-requiredInput label::after {
  color: #DB2828;
  content: ' *'; }
.sfForm-requiredMessage {
  margin: 30px 0; }
  .sfForm-requiredMessage::before {
    color: #DB2828;
    content: '* '; }
.sfForm-textCentre {
  text-align: center; }
.sfForm-formError {
  background-color: rgba(219, 40, 40, 0.5);
  border: 1px solid #DB2828;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-align: center; }
.sfForm-success {
  display: none; }
.sfForm-successMessage {
  background-color: rgba(33, 186, 69, 0.5);
  border: 1px solid #21BA45;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-align: center; }
.sfForm-showOnError {
  display: none; }

/*# sourceMappingURL=sfForm.css.map */
