.sfFooter {
  background-color: #2a2c35;
  color: #fff;
  padding: 20px 50px;
  text-align: center; }
  @media only screen and (min-width: 1280px) {
    .sfFooter {
      padding: 20px 100px; } }
  .sfFooter--forceBottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0; }
  .sfFooter-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    @media only screen and (min-width: 1024px) {
      .sfFooter-nav {
        padding: 0 50px; } }
    .sfFooter-nav a:hover, .sfFooter-nav a:active, .sfFooter-nav a:focus {
      text-decoration: underline; }
  .sfFooter-navSection {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -moz-box-flex: 1;
    -moz-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0; }
    @media only screen and (min-width: 640px) {
      .sfFooter-navSection {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 50%;
        -moz-box-flex: 1;
        -moz-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%; } }
    @media only screen and (min-width: 1024px) {
      .sfFooter-navSection {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -moz-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto; }
        .sfFooter-navSection:first-child {
          margin-top: 10px; } }
  .sfFooter-navTitle {
    color: #e97331;
    font-size: 2.4rem;
    line-height: 2.4rem; }
  .sfFooter-navTitleIcon {
    color: #fff;
    margin-right: 10px;
    display: inline-block; }
  .sfFooter-navList {
    text-align: left; }
  .sfFooter-social {
    font-size: 20px;
    margin-top: 20px; }
  .sfFooter-socialIcon, .sfFooter-socialIcon--facebook, .sfFooter-socialIcon--twitter, .sfFooter-socialIcon--youtube {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-transition: none;
    transition: none;
    border-radius: 50%;
    height: 40px;
    margin: 0 10px;
    width: 40px; }
    .sfFooter-socialIcon--facebook {
      background-color: #3b5998; }
      .sfFooter-socialIcon--facebook:hover, .sfFooter-socialIcon--facebook:active, .sfFooter-socialIcon--facebook:focus {
        color: #3b5998;
        background-color: #fff; }
    .sfFooter-socialIcon--twitter {
      background-color: #1da1f3; }
      .sfFooter-socialIcon--twitter:hover, .sfFooter-socialIcon--twitter:active, .sfFooter-socialIcon--twitter:focus {
        color: #1da1f3;
        background-color: #fff; }
    .sfFooter-socialIcon--youtube {
      background: -moz-linear-gradient(top, #e73934 0%, #c0171d 100%);
      background: -webkit-linear-gradient(top, #e73934 0%, #c0171d 100%);
      background: linear-gradient(to bottom, #e73934 0%, #c0171d 100%); }
      .sfFooter-socialIcon--youtube:hover, .sfFooter-socialIcon--youtube:active, .sfFooter-socialIcon--youtube:focus {
        background: -moz-linear-gradient(top, white 0%, white 100%);
        background: -webkit-linear-gradient(top, white 0%, white 100%);
        background: linear-gradient(to bottom, white 0%, white 100%);
        color: #d22222; }
  .sfFooter-copyright {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px; }
    .sfFooter-copyright a:hover, .sfFooter-copyright a:active, .sfFooter-copyright a:focus {
      text-decoration: underline; }

/*# sourceMappingURL=sfFooter.css.map */
