.sfHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-transition: height 1s, background-color 1s;
  transition: height 1s, background-color 1s;
  background-color: rgba(42, 44, 53, 0.75);
  height: 50px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 500; }
  @media only screen and (min-width: 480px) {
    .sfHeader {
      padding: 0 50px; } }
  @media only screen and (min-width: 1024px) {
    .sfHeader {
      height: 100px; } }
  @media only screen and (min-width: 1280px) {
    .sfHeader {
      padding: 0 100px; } }
  .sfHeader-logo {
    -webkit-transition: height 1s, padding 1s;
    transition: height 1s, padding 1s;
    height: 50px;
    padding: 5px 0; }
    @media only screen and (min-width: 1024px) {
      .sfHeader-logo {
        height: 100px;
        padding: 20px 0; } }
  .sfHeader-navToggleLabel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .sfHeader-navToggleLabel {
        display: none; } }
  .sfHeader-navToggleIcon {
    color: #fff;
    font-size: 3.2rem; }
  .sfHeader-navToggleInput {
    display: none; }
    .sfHeader-navToggleInput:checked + .sfHeader-nav {
      display: block; }
      @media only screen and (min-width: 768px) {
        .sfHeader-navToggleInput:checked + .sfHeader-nav {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex; } }
  .sfHeader-nav {
    background: #2a2c35;
    color: #fff;
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 100%; }
    @media only screen and (min-width: 768px) {
      .sfHeader-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        background: none;
        padding: 0;
        position: static;
        right: auto;
        top: auto; } }
  .sfHeader-navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 0 10px 0 0; }
    @media only screen and (min-width: 768px) {
      .sfHeader-navList {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end;
        font-size: 1.2rem; } }
    @media only screen and (min-width: 1024px) {
      .sfHeader-navList {
        font-size: 1.4rem;
        margin: 0 30px 0 0; } }
  .sfHeader-navListItemLinkContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .sfHeader-navListItem, .sfHeader-navListItem--sub {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px; }
    @media only screen and (min-width: 768px) {
      .sfHeader-navListItem, .sfHeader-navListItem--sub {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        align-items: stretch;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 0; } }
    @media only screen and (min-width: 1024px) {
      .sfHeader-navListItem, .sfHeader-navListItem--sub {
        margin-left: 30px; } }
    @media only screen and (min-width: 768px) {
      .sfHeader-navListItem--sub:hover .sfHeader-navListItemSub, .sfHeader-navListItem--sub:active .sfHeader-navListItemSub, .sfHeader-navListItem--sub:focus .sfHeader-navListItemSub {
        border-top: 3px solid #e97331;
        max-height: 600px; }
      .sfHeader-navListItem--sub:hover .sfHeader-navListItemLinkContainer, .sfHeader-navListItem--sub:active .sfHeader-navListItemLinkContainer, .sfHeader-navListItem--sub:focus .sfHeader-navListItemLinkContainer {
        position: relative; }
        .sfHeader-navListItem--sub:hover .sfHeader-navListItemLinkContainer::before, .sfHeader-navListItem--sub:hover .sfHeader-navListItemLinkContainer::after, .sfHeader-navListItem--sub:active .sfHeader-navListItemLinkContainer::before, .sfHeader-navListItem--sub:active .sfHeader-navListItemLinkContainer::after, .sfHeader-navListItem--sub:focus .sfHeader-navListItemLinkContainer::before, .sfHeader-navListItem--sub:focus .sfHeader-navListItemLinkContainer::after {
          bottom: 0;
          content: '';
          height: 0;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 0;
          z-index: 100; }
        .sfHeader-navListItem--sub:hover .sfHeader-navListItemLinkContainer::before, .sfHeader-navListItem--sub:active .sfHeader-navListItemLinkContainer::before, .sfHeader-navListItem--sub:focus .sfHeader-navListItemLinkContainer::before {
          border-bottom: 13px solid #e97331;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent; }
        .sfHeader-navListItem--sub:hover .sfHeader-navListItemLinkContainer::after, .sfHeader-navListItem--sub:active .sfHeader-navListItemLinkContainer::after, .sfHeader-navListItem--sub:focus .sfHeader-navListItemLinkContainer::after {
          border-bottom: 10px solid #2a2c35;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent; } }
  .sfHeader-navListItemLink, .sfHeader-navListItemLink--sub {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 3px 0; }
    .sfHeader-navListItemLink:hover, .sfHeader-navListItemLink--sub:hover, .sfHeader-navListItemLink:active, .sfHeader-navListItemLink--sub:active, .sfHeader-navListItemLink:focus, .sfHeader-navListItemLink--sub:focus {
      border-bottom: 3px solid #fff;
      padding-bottom: 0; }
      @media only screen and (min-width: 768px) {
        .sfHeader-navListItemLink:hover, .sfHeader-navListItemLink--sub:hover, .sfHeader-navListItemLink:active, .sfHeader-navListItemLink--sub:active, .sfHeader-navListItemLink:focus, .sfHeader-navListItemLink--sub:focus {
          border-bottom: 3px solid #e97331; } }
    @media only screen and (min-width: 768px) {
      .sfHeader-navListItemLink--sub::after {
        content: '\f107';
        font-family: FontAwesome;
        font-size: 14px;
        padding-left: 5px; } }
  .sfHeader-navListItemSub {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    -webkit-transition: top 1s;
    transition: top 1s;
    margin-top: 5px;
    overflow-y: hidden;
    text-transform: none; }
    @media only screen and (min-width: 768px) {
      .sfHeader-navListItemSub {
        -webkit-box-ordinal-group: 0;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: 0;
        -webkit-order: 0;
        order: 0;
        -webkit-transition: top 1s, max-height 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
        transition: top 1s, max-height 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
        background-color: #2a2c35;
        left: 0;
        margin-top: 0;
        max-height: 0;
        position: absolute;
        right: 0;
        top: 47px; } }
    @media only screen and (min-width: 1024px) {
      .sfHeader-navListItemSub {
        top: 97px; } }
  @media only screen and (min-width: 768px) {
    .sfHeader-navListItemSubLinks {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 30px 50px;
      width: 100%; } }
  @media only screen and (min-width: 1280px) {
    .sfHeader-navListItemSubLinks {
      padding: 30px 100px; } }
  .sfHeader-navListItemSubLinksLink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-bottom: 5px; }
    @media only screen and (min-width: 768px) {
      .sfHeader-navListItemSubLinksLink {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        align-items: stretch;
        margin-bottom: 0;
        padding: 15px 10px;
        width: 33.33%; } }
    .sfHeader-navListItemSubLinksLink:hover .sfHeader-subContentTitle, .sfHeader-navListItemSubLinksLink:active .sfHeader-subContentTitle, .sfHeader-navListItemSubLinksLink:focus .sfHeader-subContentTitle {
      text-decoration: underline; }
  .sfHeader-subIcon {
    text-align: center;
    margin-right: 5px;
    width: 20px; }
    @media only screen and (min-width: 768px) {
      .sfHeader-subIcon {
        color: #e97331;
        font-size: 3rem;
        margin-right: 20px;
        width: 50px; } }
  .sfHeader-subContentTitle {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .sfHeader-subContentTitle {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin: 0 0 1rem 0; } }
  .sfHeader-subContentText {
    color: #838692;
    display: none; }
    @media only screen and (min-width: 768px) {
      .sfHeader-subContentText {
        display: block; } }
  .sfHeader-companies {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -moz-box-flex: 1;
    -moz-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    background-color: #838692;
    color: #29292c;
    display: none; }
    @media only screen and (min-width: 768px) {
      .sfHeader-companies {
        display: block; } }
  .sfHeader-companiesText {
    margin-bottom: 0;
    padding: 20px 50px 15px;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 1280px) {
      .sfHeader-companiesText {
        padding: 20px 100px 15px; } }
  .sfHeader-companiesLinks {
    display: table;
    height: 50px;
    padding: 0 50px 20px;
    table-layout: fixed;
    width: 100%; }
    @media only screen and (min-width: 1280px) {
      .sfHeader-companiesLinks {
        padding: 0 100px 20px; } }
  .sfHeader-companiesLink {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table-cell;
    height: 50px;
    max-width: 150px;
    text-align: center; }
    .sfHeader-companiesLink:hover, .sfHeader-companiesLink:active, .sfHeader-companiesLink:focus {
      -webkit-filter: unset;
      filter: unset; }
  .sfHeader-button {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.4rem;
    padding: 5px 12px; }
    @media only screen and (min-width: 1024px) {
      .sfHeader-button {
        font-size: 1.6rem;
        padding: 10px 25px; } }

/*# sourceMappingURL=sfHeader.css.map */
