@charset "UTF-8";
@font-face {
  font-family: 'StoreFeeder-Web-Icons';
  src: url("/assets/fonts/StoreFeeder-Web-Icons.eot?o3jy8j");
  src: url("/assets/fonts/StoreFeeder-Web-Icons.eot?o3jy8j#iefix") format("embedded-opentype"), url("/assets/fonts/StoreFeeder-Web-Icons.ttf?o3jy8j") format("truetype"), url("/assets/fonts/StoreFeeder-Web-Icons.woff?o3jy8j") format("woff"), url("/assets/fonts/StoreFeeder-Web-Icons.svg?o3jy8j#StoreFeeder-Web-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.sfIcon, .sfIcon-team, .sfIcon-meeting, .sfIcon-checklist, .sfIcon-stack, .sfIcon-document, .sfIcon-webPage, .sfIcon-listCart, .sfIcon-homeList, .sfIcon-deliveryTruck, .sfIcon-pyramid, .sfIcon-jigsaw, .sfIcon-secureBox, .sfIcon-handshake {
  font-family: 'StoreFeeder-Web-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .sfIcon-team::before {
    content: ""; }
  .sfIcon-meeting::before {
    content: ""; }
  .sfIcon-checklist::before {
    content: ""; }
  .sfIcon-stack::before {
    content: ""; }
  .sfIcon-document::before {
    content: ""; }
  .sfIcon-webPage::before {
    content: ""; }
  .sfIcon-listCart::before {
    content: ""; }
  .sfIcon-homeList::before {
    content: ""; }
  .sfIcon-deliveryTruck::before {
    content: ""; }
  .sfIcon-pyramid::before {
    content: ""; }
  .sfIcon-jigsaw::before {
    content: ""; }
  .sfIcon-secureBox::before {
    content: ""; }
  .sfIcon-handshake::before {
    content: ""; }

/*# sourceMappingURL=sfIcon.css.map */
