.sfLinkPanels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .sfLinkPanels-panel {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    border: 2px solid #bdbdbd;
    margin: 10px;
    padding: 30px;
    width: calc(100% - 20px); }
    @media only screen and (min-width: 640px) {
      .sfLinkPanels-panel {
        width: calc(50% - 20px); } }
    @media only screen and (min-width: 1024px) {
      .sfLinkPanels-panel {
        width: calc(33.33% - 20px); } }
    .sfLinkPanels-panel:hover, .sfLinkPanels-panel:active, .sfLinkPanels-panel:focus {
      border-color: #e97331; }
      .sfLinkPanels-panel:hover .sfLinkPanels-panelIcon, .sfLinkPanels-panel:active .sfLinkPanels-panelIcon, .sfLinkPanels-panel:focus .sfLinkPanels-panelIcon {
        color: #e97331;
        text-shadow: none; }
  .sfLinkPanels-panelIcon {
    color: #fff;
    display: inline-block;
    font-size: 7.2rem;
    margin-bottom: 30px;
    text-shadow: 0 0 6px #2a2c35; }

/*# sourceMappingURL=sfLinkPanels.css.map */
