.sfSlideshow {
  height: 700px;
  width: 100%; }
  .sfSlideshow-slide, .sfSlideshow-image {
    height: 100%;
    width: 100%; }
  .sfSlideshow-image {
    -webkit-filter: grayscale(50%) sepia(50%);
    filter: grayscale(50%) sepia(50%);
    background-position: center; }
  .sfSlideshow-prev, .sfSlideshow-next {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 48px;
    opacity: .6;
    position: absolute;
    top: calc(50% + 50px);
    z-index: 200;
    text-shadow: 0 0 5px #2a2c35;
    transform: translateY(-50%); }
    .sfSlideshow-prev:hover, .sfSlideshow-prev:active, .sfSlideshow-prev:focus, .sfSlideshow-next:hover, .sfSlideshow-next:active, .sfSlideshow-next:focus {
      opacity: 1; }
  .sfSlideshow-prev {
    left: 20px; }
  .sfSlideshow-next {
    right: 20px; }
  .sfSlideshow-pager {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    bottom: 10px;
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 300; }
  .sfSlideshow-pagerPoint {
    background-color: #2a2c35;
    border: 3px solid #e97331;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 3px;
    opacity: .6;
    width: 20px; }
    .sfSlideshow-pagerPoint:hover, .sfSlideshow-pagerPoint:active, .sfSlideshow-pagerPoint:focus {
      opacity: 1; }
    .sfSlideshow-pagerPoint.isActive {
      opacity: 1; }
  .sfSlideshow-slideContent {
    bottom: 0;
    background-color: rgba(42, 44, 53, 0.75);
    color: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center; }
    @media only screen and (min-width: 480px) {
      .sfSlideshow-slideContent {
        padding: 30px; } }
    @media only screen and (min-width: 640px) {
      .sfSlideshow-slideContent {
        bottom: 50px;
        left: 150px;
        max-width: calc(100% - (50px * 3));
        right: auto; } }
    @media only screen and (min-width: 1024px) {
      .sfSlideshow-slideContent {
        max-width: calc(100% - (100px * 3)); } }
  .sfSlideshow-slideTitle {
    font-size: 4.8rem;
    line-height: 4.8rem; }
    .sfSlideshow-slideTitle::first-letter {
      color: #e97331; }
  .sfSlideshow-slideText li::before {
    content: '\f046';
    font-family: FontAwesome;
    padding-right: 5px; }
  .sfSlideshow-slideText a {
    color: #e97331;
    font-weight: bold;
    text-transform: uppercase; }

/*# sourceMappingURL=sfSlideshow.css.map */
