.sfSpeechBubble {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 3px solid #bdbdbd;
  border-radius: 5px;
  color: #2a2c35;
  margin: 30px 10px 40px;
  padding: 20px;
  position: relative;
  width: calc(100% - 20px); }
  .sfSpeechBubble::before, .sfSpeechBubble::after {
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0; }
  .sfSpeechBubble::before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid #bdbdbd;
    border-top: 15px solid #bdbdbd;
    right: 5px; }
  .sfSpeechBubble::after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid #fff;
    border-top: 11px solid #fff;
    right: 8px; }
  .sfSpeechBubble-text, .sfSpeechBubble-emphasisText {
    font-style: italic; }
  .sfSpeechBubble-emphasisText {
    font-size: 1.8rem;
    font-weight: bold; }
  .sfSpeechBubble-author {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 1.8rem;
    font-weight: bold; }

/*# sourceMappingURL=sfSpeechBubble.css.map */
