.sfVideoList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .sfVideoList-videoContainer {
    padding: 50px;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .sfVideoList-videoContainer {
        width: 50%; } }
  .sfVideoList-videoPreview {
    cursor: pointer;
    position: relative; }
    .sfVideoList-videoPreview::before {
      color: #fff;
      content: '\f144';
      font: normal normal normal 7.2rem/1 FontAwesome;
      left: 50%;
      opacity: 0.75;
      position: absolute;
      text-shadow: 0 0 6px #2a2c35;
      top: 50%;
      transform: translate(-50%, -50%); }
    .sfVideoList-videoPreview:hover::before, .sfVideoList-videoPreview:active::before, .sfVideoList-videoPreview:focus::before {
      opacity: 1; }
  .sfVideoList-videoPreviewImg {
    width: 100%; }
  .sfVideoList-videoScreen {
    display: none; }
    .sfVideoList-videoScreen.isFullScreen {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: stretch;
      -moz-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      align-items: stretch;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      background-color: rgba(42, 44, 53, 0.75);
      bottom: 0;
      left: 0;
      padding: 50px;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1000; }
      .sfVideoList-videoScreen.isFullScreen .sfVideoList-videoClose {
        display: block; }
  .sfVideoList-videoClose {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 4.8rem;
    line-height: 2.6rem;
    padding: 10px;
    position: absolute;
    right: 0;
    text-shadow: 0 0 5px #2a2c35;
    top: 0;
    z-index: 100; }
  .sfVideoList-video {
    max-height: 100%;
    max-width: 100%; }

/* IE11 Only */
@media all and (-ms-high-contrast: none) {
  .sfVideoList {
    height: 0;
    overflow: hidden; }
    .sfVideoList-videoPreviewImg {
      width: auto; } }

/*# sourceMappingURL=sfVideoList.css.map */
